.gitattributes
.reviewboardrc
thumbs.db
source/bin/
source/obj/
Installer/bin/
Installer/obj/
*.user
**/thumbs.db
**/bin/**
**/obj/**
**/ExcelCustomActionTest/**
**/ExcelCustomActionTest/*.suo
**/ExcelCustomActionTest/bin/**
**/ExcelCustomActionTest/obj/**
**/VisualControlsTests/*.suo
**/VisualControlsTests/bin/**
**/VisualControlsTests/obj/**
bin
packages
obj
bin
*.suo
*.diff
*.py