<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MySQL.ForExcel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MySQL.ForExcel.Properties.Settings>
            <setting name="ExportDetectDatatype" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportAddBufferToVarchar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportAutoIndexIntColumns" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportAutoAllowEmptyNonIndexColumns" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportUseFormattedValues" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppendPerformAutoMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppendAutoStoreColumnMapping" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppendReloadColumnMapping" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppendUseFormattedValues" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportLimitPreviewRowsQuantity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="AppendLimitPreviewRowsQuantity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ExportRemoveEmptyColumns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GlobalConnectionConnectionTimeout" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="GlobalConnectionCommandTimeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ImportPreviewRowsQuantity" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ImportEscapeFormulaTextValues" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConvertedSettingsStoredMappingsCasing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EditUseOptimisticUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GlobalSqlQueriesPreviewQueries" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GlobalSqlQueriesShowQueriesWithResults" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImportCreateExcelTable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImportExcelTableStyleName" serializeAs="String">
                <value>MySqlDefault</value>
            </setting>
        </MySQL.ForExcel.Properties.Settings>
    </userSettings>
</configuration>