<?xml version="1.0" encoding="UTF-8"?>
<?define ProductName="MySQL For Excel $(var.Version)"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product Name="$(var.ProductName)" Id ="*" Manufacturer="Oracle" Language="1033" Version="$(var.Version)"
           UpgradeCode="30162E4E-2EED-48D1-BBC0-8D4A517DB004">
    <Package Id="*" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated"/>

    <Upgrade Id="30162E4E-2EED-48D1-BBC0-8D4A517DB004">
      <UpgradeVersion OnlyDetect="yes" Minimum="$(var.Version)" Property="NEWERVERSIONDETECTED" IncludeMinimum="no" />
      <UpgradeVersion OnlyDetect="no" Maximum="$(var.Version)" Property="OLDERVERSIONBEINGUPGRADED" IncludeMaximum="yes" />
    </Upgrade>

    <!-- Do not install if a newer version is already installed. -->
    <Condition Message="A later version of [ProductName] is already installed. Setup will now exit.">
      NOT NEWERVERSIONDETECTED OR Installed
    </Condition>

    <Property Id="ARPURLINFOABOUT" Value="http://www.mysql.com" />
    <Property Id="ARPURLUPDATEINFO" Value="http://dev.mysql.com"/>
    <Property Id="ARPPRODUCTICON" Value="MySQL.ForExcel.ico" />

    <Media Id="1" Cabinet="MySQLForExcel.cab" EmbedCab="yes"  CompressionLevel="high"/>

    <Condition Message="You must have Administrative rights on this machine to install [ProductName].">
      <![CDATA[ Privileged  ]]>
    </Condition>

    <!-- Check if VSTO is installed, otherwise abort installation -->
    <Property Id="VSTO_X86_INSTALLED">
	    <RegistrySearch Id="VSTOx86InstalledSearch" Root="HKLM" Key="SOFTWARE\Wow6432Node\Microsoft\VSTO Runtime Setup\v4R" Name="VSTORFeature_CLR40" Type="raw"/>
    </Property>
	  <Property Id="VSTO_X64_INSTALLED">
	    <RegistrySearch Id="VSTOx64InstalledSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VSTO Runtime Setup\v4R" Name="VSTORFeature_CLR40" Type="raw"/>
    </Property>
    <Condition Message="The Microsoft Visual Studio Tools for Office Runtime must be installed prior to running this installation.">
      <![CDATA[Installed OR VSTO_X86_INSTALLED OR VSTO_X64_INSTALLED]]>
    </Condition>

    <!-- Check if .NET FW 4.5.2 or greater is installed -->
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_452_OR_LATER_INSTALLED"/>
    <Condition Message="This application requires .NET Framework 4.5.2. Please install the .NET Framework then run this installer again.  For more information, please see https://www.microsoft.com/en-us/download/details.aspx?id=42642">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_452_OR_LATER_INSTALLED]]>
    </Condition>

    <!-- See if Office 2007 (only 32bit version is available) is installed -->
    <Property Id="EXCEL_2007_32_INSTALLED">
      <ComponentSearch Id="Office_2007_32_Search" Guid="{0638C49D-BB8B-4CD1-B191-052E8F325736}" />
    </Property>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name='PFiles'>
        <Directory Id='CompanyDir' Name='MySQL'>
          <Directory Id="INSTALLDIR" Name="$(var.ProductName)">
            <Component Id='MainItems' Guid='2395C79F-4F2E-415F-9667-76CBE129D4CE'>
              <File Id="Manifest" Name="MySQL.ForExcel.dll.manifest" Source="..\Source\bin\Release\MySQL.ForExcel.dll.manifest" />
              <File Id="BouncyCastle.Crypto" Name="BouncyCastle.Crypto" Source="..\Source\bin\Release\BouncyCastle.Crypto.dll" />
              <File Id="MySql.Utility" Name="MySQL.Utility.dll" Source="..\Source\bin\Release\MySQL.Utility.dll" />
              <File Id="MySql.Utility.RegularExpressions" Name="MySql.Utility.RegularExpressions.dll" Source="..\Source\bin\Release\MySql.Utility.RegularExpressions.dll" />
              <File Id="MySql.Data" Name="MySql.Data.dll" Source="..\Source\bin\Release\MySql.Data.dll" />
              <File Id="Renci.SshNet" Name="Renci.SshNet.dll" Source="..\Source\bin\Release\Renci.SshNet.dll" />
              <File Id="v40Utilities" Name="Microsoft.Office.Tools.Common.v4.0.Utilities.dll" Source="..\Source\bin\Release\Microsoft.Office.Tools.Common.v4.0.Utilities.dll" />
              <File Id="VSTOFile" Name="MySQL.ForExcel.vsto" Source="..\Source\bin\Release\MySQL.ForExcel.vsto" />
              <File Id="AddIn" Name="MySQL.ForExcel.dll" KeyPath="yes" Source="..\Source\bin\Release\MySQL.ForExcel.dll" />
              <File Id='ReleaseNotes' Name='Release Notes.txt' Source='Release Notes.txt'/>
              <?if $(var.IsGPL) = true ?>
              <File Id='ReadMe' Name='README' Source='README'/>
              <File Id="COPYING" Name="COPYING" Source="COPYING" DiskId="1" />
              <?else?>
              <File Id="README2" Name="README" Source="README-Commercial" DiskId="1"/>
              <File Id="LICENSE" Name="LICENSE" Source="LICENSE" DiskId="1" />
              <?endif?>
              <RemoveFolder Id="INSTALLDIR" On="uninstall" />
            </Component>
            <Component Id="RegistryEnableHKCLOffice2007" Guid="E9D77B0E-FD67-4F82-A36E-ACE228F566D6">
              <Condition>
                <![CDATA[EXCEL_2007_32_INSTALLED]]>
              </Condition>
              <RegistryKey Id="EnableLMKey" Root="HKLM" Action="createAndRemoveOnUninstall" Key="SOFTWARE\Microsoft\Office\12.0\Common\General">
                <RegistryValue Id="IdEnableLocalMachineVSTO" Name="EnableLocalMachineVSTO" Value="1" Type="integer"/>
              </RegistryKey>
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="DefaultFeature" Title="MySQL for Excel" ConfigurableDirectory="INSTALLDIR" Level="1" >
      <ComponentRef Id="MainItems" />
      <ComponentRef Id="RegistryEnableHKCLOffice2007"/>
    </Feature>

    <Binary Id="ExcelCustomAction" SourceFile="ExcelCustomAction.CA.dll" />
    <CustomAction Id="InstallAddIn32.SetProperty" Return="check" Property="InstallAddIn32" Value="AddInDllLocation=[#AddIn];VstoFileLocation=[#VSTOFile]"/>
    <CustomAction Id="InstallAddIn32" BinaryKey="ExcelCustomAction" DllEntry="InstallAddIn32" Execute="deferred" Impersonate="no" />
    <CustomAction Id="InstallAddIn64.SetProperty" Return="check" Property="InstallAddIn64" Value="AddInDllLocation=[#AddIn];VstoFileLocation=[#VSTOFile]"/>
    <CustomAction Id="InstallAddIn64" BinaryKey="ExcelCustomAction" DllEntry="InstallAddIn64" Execute="deferred" Impersonate="no" />
    <CustomAction Id="RemoveAddIn32" BinaryKey="ExcelCustomAction" DllEntry="RemoveAddIn32" Execute="deferred" Impersonate="no" />
    <CustomAction Id="RemoveAddIn64" BinaryKey="ExcelCustomAction" DllEntry="RemoveAddIn64" Execute="deferred" Impersonate="no" />

    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
      <Custom Action="RemoveAddIn32" Before="InstallFinalize">REMOVE="ALL"</Custom>
      <Custom Action="RemoveAddIn64" After="RemoveAddIn32">VersionNT64 AND REMOVE="ALL"</Custom>
      <Custom Action="InstallAddIn32.SetProperty" Before="InstallAddIn32">NOT Installed</Custom>
      <Custom Action="InstallAddIn32" After="RemoveAddIn64">NOT Installed</Custom>
      <Custom Action="InstallAddIn64.SetProperty" Before="InstallAddIn64">VersionNT64 AND NOT Installed</Custom>
      <Custom Action="InstallAddIn64" After="InstallAddIn32">VersionNT64 AND NOT Installed</Custom>
    </InstallExecuteSequence>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UIRef Id="WixUI_MySQL" />
    <WixVariable Id="WixUIBannerBmp" Value="Bitmaps/BannrBmp.bmp"/>
    <WixVariable Id="WixUIDialogBmp" Value="Bitmaps/DlgBmp.bmp"/>
    <Icon Id="MySQL.ForExcel.ico" SourceFile="mysql-for-excel.ico" />

  </Product>
</Wix>
